.halls-list {
	padding-bottom: 100px;
}

.halls-list__hall {
	min-width: 100%;
	min-height: 710px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.halls-list__hall:not(:last-child) {
	margin-bottom: 60px;
}

.halls-list__hall_first-hall {
	background-image: url("../images/pic2.jpg");
}

.halls-list__hall_second-hall {
	background-image: url("../images/pic3.jpg");
}

.halls-list__hall_third-hall {
	background-image: url("../images/pic4.jpg");
}

.halls-list__hall_fourth-hall {
	background-image: url("../images/pic5.jpg");
}

.halls-list__name-hall {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	display: inline-block;
	padding-top: 25%;
	padding-left: 35%;
}