.halls-list {
	margin-bottom: 100px;
}

.halls-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.halls-container:not(:last-child) {
	margin-bottom: 20px;
}


.halls-list__hall {
	width: 580px;
	height: 349px;
	display: inline-block;
	vertical-align: top;
}

.halls-list__image {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.halls-list__name-hall {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	position: relative;
	bottom: 220px;
	left: 100px;
}