.reviews {
	margin-bottom: 100px;
}

.user-review {
	display: flex;
	align-items: center;
}

.user-review:not(:last-child) {
	margin-bottom: 50px;
}

.user-review__photo {
	margin-bottom: 11px;
}

.user-review__author {
	margin-right: 16px;
}

.user-review__name {
	text-align: center;
}

.user-review__text,
.user-review__name {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}