.top-wrapper {
	display: block;
	width: 100%;
}

.top-wrapper__main-title {
	font-style: normal;
	font-weight: 900;
	font-size: 150px;
	line-height: 100%;
	min-width: 100%;
	letter-spacing: -0.1em;
	text-transform: uppercase;
}

.top {
	display: flex;
	justify-content: space-between;
	margin-top: -50px;
	padding-right: 80px;
}

.top-block {
	min-width: 400px;
}

.top__image {
	min-width: 675px;
}

.top-block__subtitle {
	padding-top: 30px;
	padding-left: 100px;
	margin-bottom: 30px;
}

.top-block__subtitle-text {
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 50px;
	margin-bottom: 65px;
}

.top-block__card-one {
	display: flex;
	justify-content: space-between;
	padding-left: 65px;
	padding-right: 60px;

}

.top-block__card-one_one {
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 141px;
	color: #CD06FF;
	padding: 0;
	margin-right: 103px;
}

.top-block__card-one_two {
	font-style: normal;
	font-weight: 900;
	font-size: 75px;
	line-height: 106px;
	font-variant: small-caps;
	color: #CD06FF;
	text-align: end;
	padding: 0;
	padding-top: 30px;
}

.top-block__card-two {
	display: flex;
	justify-content: space-between;
}

.top-block__card-two_usual {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 150px;
}

.top-block__button {
	width: 374px;
	height: 80px;
	background: #6C0287;
	border-radius: 10px;
}

.top-block__button_view {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	color: #FFFFFF;
}

.top__image_down-btn {
	display: inline-block;
	width: 97px;
	height: 97px;
	padding-right: 450px;
	position: relative;
	top: -180px;
}