.top-wrapper {
	display: block;
	width: 100%;
	margin-bottom: 100px;
}

.top-wrapper__main-title {
	font-style: normal;
	font-weight: 900;
	font-size: 150px;
	line-height: 100%;
	min-width: 100%;
	letter-spacing: -0.1em;
	text-transform: uppercase;
}