.about-us {
	display: flex;
	margin-bottom: 100px;
}

.about-us__pic {
	min-width: 600px;
	min-height: 596px;
	padding-right: 0;
	margin-right: 80px;
}

.about-us__about-us-text {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 78px;
	min-width: 500px;
	margin-bottom: 59px;
}

.about-us__quote {
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 50px;
	text-transform: uppercase;
	margin-bottom: 40px;
	white-space: pre-line;
	min-width: 469px;
}

.about-us__quote:before {
	content: "\275D";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 50px;
	color: #6C0287;
	padding-right: 16px;
}

.about-us__quote:after {
	content: "\275E";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 50px;
	color: #6C0287;
}

.about-us__author {
	padding-left: 100px;
}

.about-us__author-quote-image {
	margin-right: 30px;
}

.about-us__about-author {
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	margin-top: -80px;
	white-space: pre-line;

}