.faq-block {
	margin-bottom: 45px;
}

.faq-block__title {
	margin-bottom: 48px;
}

.faq__item {
	min-width: 1180px;
	min-height: 87px;
	background-color: var(--color-two, #FFFFFF);
	color: #1C1A1A;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
}

.faq__item:last-child {
	margin-bottom: 0;
}

.faq__item_color {
	color: var(--color-two, #FFFFFF);
	background-color: var(--color-three, #440F51);
}

.faq__text-item {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.faq__item-btn {
	min-width: 46px;
	min-height: 46px;
	border: 2px solid var(--color-three, #440F51);
	border-radius: 50%;
	background-image: url("../../images/plus_purple.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn_color-purple {
	border: 2px solid var(--color-two, #FFFFFF);
	background-color: rgba(0, 125, 215, 0);
	background-image: url("../../images/plus_white.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn:hover {
	background: var(--color-one, #6C0287);
	border: 1px solid var(--color-one, #6C0287);
	background-image: url("../../images/plus_for_purple_hover.png");
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 1.5s;
}

.faq__item-btn:active {
	border: 1px solid var(--color-one, #6C0287);
	background: #E5E5E5;
	background-image: url("../../images/minus_for_purple_active.png");
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 1.5s;
}

.faq__item-btn_color-purple:hover {
	background: var(--color-two, #FFFFFF);
	border: 1px solid var(--color-two, #FFFFFF);
	background-image: url("../../images/plus_for_white_hover.png");
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 1.5s;
}

.faq__item-btn_color-purple:active {
	border: 2px solid var(--color-two, #FFFFFF);
	background: #E5E5E5;
	background-image: url("../../images/minus_for_white_active.png");
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 1.5s;
}

.invisible {
	display: none;
}

.faq__accord {
	min-width: 1180px;
	padding: 57px 70px 100px 60px;
	background: #FFFFFF;
	margin-bottom: 99px;
}

.faq__accord-text {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

@media (max-width:1440px) {
	.faq__item {
		padding: 0 75px 0 70px;
	}
}

@media (max-width:1228.80px) {
	.faq-block__title {
		margin-bottom: 26px;
	}

	.faq__item {
		min-width: 904px;
		min-height: 70px;
		padding: 0 20px 0 25px;
		margin-bottom: 16px;
	}

	.faq__accord {
		min-width: 904px;
	}

	.faq__text-item {
		font-size: 20px;
		line-height: 24px;
	}

	.faq__accord-text {
		font-size: 20px;
		line-height: 24px;
	}
}

@media (max-width:1024px) {
	.faq__item-btn {
		min-width: 46px;
		min-height: 46px;
		border: 1px solid var(--color-three, #440F51);
		background-image: url("../../images/plus_purple1024.png");
	}

	.faq__item-btn_color {
		min-width: 46px;
		min-height: 46px;
		border: 1px solid var(--color-two, #FFFFFF);
		background-image: url("../../images/plus_white.png");
		background-repeat: no-repeat;
		background-position: center;
	}

	.faq__text-item_second {
		padding-left: 5px;
	}

	.faq__text-item_third {
		padding-left: 5px;
	}

	.faq__text-item_fourth {
		padding-left: 5px;
	}
}

@media (max-width:877.71px) {
	.faq__text-item {
		font-size: 18px;
	}

	.faq__item {
		min-width: 688px;
		padding: 0 54px 0 65px;
	}

	.faq__accord {
		min-width: 688px;
		padding: 20px 50px 20px 50px;
		margin-bottom: 50px;
	}

	.faq__accord-text {
		font-size: 18px;
	}
}

@media (max-width:768px) {
	.faq__item-btn {
		background-image: url("../../images/plus_purple768.png");
	}

	.faq__item {
		padding: 0 66px 0 53px;
	}
}

@media (max-width:614.40px) {
	.faq-block__title {
		margin-bottom: 15px;
	}

	.faq__item {
		min-width: 280px;
		min-height: 46px;
		padding: 7px 13px 7px 10px;
		margin-bottom: 10px;
	}

	.faq__accord {
		min-width: 280px;
		padding: 10px 10px;
		margin-bottom: 20px;
	}

	.faq__text-item {
		font-size: 12px;
		line-height: 16px;
	}

	.faq__accord-text {
		font-size: 12px;
		line-height: 16px;
	}

	.faq__item-btn {
		min-width: 30px;
		min-height: 30px;
		border: 1px solid var(--color-three, #440F51);
		background-image: url("../../images/plus_purple320.png");
	}

	.faq__item-btn_color {
		min-width: 30px;
		min-height: 30px;
		border: 1px solid var(--color-two, #FFFFFF);
		background-image: url("../../images/plus_white.png");
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media (max-width:307.20px) {
	.faq__item {
		min-width: 0;
		max-width: 280px;
		padding: 7px 13px 7px 10px;
	}

	.faq__accord {
		min-width: 0;
		max-width: 280px;
		margin-bottom: 10px;
	}
}