.faq-block {
	margin-bottom: 100px;
}

.faq__item {
	min-width: 1180px;
	min-height: 87px;
	background-color: #fff;
	color: #1C1A1A;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
}

.faq__item:last-child {
	margin-bottom: 0;
}

.faq__item:nth-child(2n) {
	color: white;
	background-color: #440F51;
}

.faq__text-item {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.faq__even-item {
	width: 46px;
	height: 46px;
}