.faq {
	margin-bottom: 45px;
}

.faq__item {
	min-width: 1180px;
	min-height: 87px;
	background-color: #fff;
	color: #1C1A1A;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 70px;
}

.faq__item:last-child {
	margin-bottom: 0;
}

.faq__item:nth-child(2n) {
	color: white;
	background-color: #440F51;
}

.faq__text-item {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.faq__item-btn {
	min-width: 46px;
	min-height: 46px;
	border: 2px solid #440F51;
	border-radius: 50%;
	content: "";
	background-image: url("../../images/plus_purple.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn_color {
	border: 2px solid #FFFFFF;
	background-color: rgba(0, 125, 215, 0);
	content: "";
	background-image: url("../../images/plus_white.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn:hover {
	background: #6C0287;
	border: 1px solid #6C0287;
	content: "";
	background-image: url("../../images/plus_for_purple_hover.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn:active {
	border: 1px solid #6C0287;
	background: #E5E5E5;
	content: "";
	background-image: url("../../images/minus_for_purple_active.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn_color:hover {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	content: "";
	background-image: url("../../images/plus_for_white_hover.png");
	background-repeat: no-repeat;
	background-position: center;
}

.faq__item-btn_color:active {
	border: 2px solid #FFFFFF;
	background: #E5E5E5;
	content: "";
	background-image: url("../../images/minus_for_white_active.png");
	background-repeat: no-repeat;
	background-position: center;
}