.footer {
	margin-bottom: 156px;
	display: flex;
	justify-content: space-between;
}

.footer-address {
	min-width: 380px;
	margin-right: 60px;
}

.footer-map {
	min-width: 680px;
	min-height: 274px;
}

.address-item {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 35px;
}

.address-item__location {
	background-image: url("../../images/location.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	padding-right: 30px;
	padding-left: 80px;
	margin-left: 20px;
	white-space: pre-line;
	margin-bottom: 38px;
}

.address-item__phone {
	background-image: url("../../images/bx_bxs-phone-call.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	padding-right: 30px;
	padding-left: 80px;
	margin-left: 20px;
	white-space: pre-line;
	margin-bottom: 11px;
	text-decoration: none;
}

.address-item__email {
	background-image: url("../../images/envelope.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	padding-right: 30px;
	padding-left: 80px;
	margin-left: 20px;
	white-space: pre-line;
}

.social-item {
	max-width: 280px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.social-item__icon {
	width: 48px;
	height: 48px;
}

.social-item__icon_vk {
	margin-right: 27px;
}

.social-item__icon_tg {
	margin-right: 28px;
}

.social-item__icon_pint {
	margin-right: 26px;
}