.halls {
	margin-bottom: 100px;
}

.halls-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.halls-list__hall {
	max-width: 580px;
	max-height: 349px;
	position: relative;
}

.halls-list__hall-name {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	max-width: 252px;
	display: inline-block;
	position: absolute;
	right: 164px;
	bottom: 95px;
	text-align: center;
}

.halls-list__hall_mb {
	margin-bottom: 20px;
}