.halls {
	margin-bottom: 100px;
}

.halls-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.halls-list__hall {
	width: 580px;
	height: 349px;
}

.halls-list__hall-name {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	width: 252px;
	display: inline-block;
	position: relative;
	bottom: 240px;
	left: 164px;
	text-align: center;
}

.halls-list__hall_mb {
	margin-bottom: 20px;
}