.halls {
	margin-bottom: 100px;
}

.halls__title {
	margin-bottom: 45px;
}

.halls-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 20px;
	row-gap: 20px;
}

.hall {
	position: relative;
}

.hall__name {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	max-width: 252px;
	display: inline-block;
	position: absolute;
	left: 164px;
	top: 94px;
	text-align: center;
}

@media (max-width:1440px) {
	.halls {
		margin-bottom: 90px;
	}
}

@media (max-width:1228.80px) {
	.halls {
		margin-bottom: 70px;
	}

	.halls__title {
		margin-bottom: 37px;
	}

	.halls-list {
		row-gap: 19px;
	}

	.hall__name {
		font-size: 50px;
		line-height: 59px;
		left: 140px;
		top: 94px;
	}
}

@media (max-width:1024px) {
	.halls {
		margin-bottom: 65px;
	}

	.halls__title {
		margin-bottom: 38px;
	}

	.hall__name {
		left: 95px;
		top: 72px;
		line-height: 61px;
	}
}