.header-wrapper {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;

}

.header__logo {
	margin-right: 96px;
}

.header__navigation {
	min-width: 405px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-right: 97px;
}

.header__nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-item {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
}

.header__nav-item:not(:last-child) {
	margin-right: 40px;
}

.header__action {
	min-width: 280px;
	padding-top: 8px;
}

.header__button {
	width: 100%;
	padding-top: 12px;
	padding-right: 32px;
	padding-bottom: 13px;
	padding-left: 32px;
	background-color: #1B1A1B;
	border: 3px solid #CD06FF;
	border-radius: 10px;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.header__button:hover {
	background: #6C0287;
	border: 3px solid #6C0287;
	border-radius: 10px;
}

.header__button:focus {
	background: #6C0287;
	border-radius: 10px;
}

.header__button:active {
	background: #640AA3;
	border: 1px solid #000000;
	border-radius: 10px;
}