.info {
	margin-bottom: 100px;
}

.info__title {
	padding-left: 98px;
	padding-right: 104px;
	margin-bottom: 41px;
}

.info__title_pre-line {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	white-space: pre-line;
}

.info-list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.info-list__mob {
	display: none;
}

.list-one,
.list-two,
.list-three {
	display: flex;
	flex-direction: column;
}

.list-one__item-img,
.list-two__item-img,
.list-three__item-img {
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 380px;
	min-height: 228px;
}

.list-one__item_vr-glasses {
	background-image: url("../../images/vr-glasses.png");
}

.list-one__item_table-games {
	background-image: url("../../images/table_games.png");
}

.list-two__item_audio {
	background-image: url("../../images/audio.png");
}

.list-two__item_cinema {
	background-image: url("../../images/cinema.png");
}

.list-three__item_karaoke {
	background-image: url("../../images/karaoke.png");
}

.list-three__item_play-station {
	background-image: url("../../images/play_station.png");
}

.list-one__item_vr-glasses,
.list-two__item_audio,
.list-three__item_karaoke {
	margin-bottom: 40px;
}

.list-one__item,
.list-two__item,
.list-three__item {
	max-width: max-content;
	position: relative;
}

.list-two {
	padding-top: 80px;
}

.list-one__item-text,
.list-two__item-text,
.list-three__item-text {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: var(--color-two, #FFFFFF);
	display: inline-block;
	position: absolute;
	max-width: 320px;
	bottom: 34px;
	left: 40px;
}

.list-two__item-text_bottom {
	bottom: 6px;
	left: 43px;
}

.list-one__item:hover,
.list-two__item:hover,
.list-three__item:hover {
	transform: scale(1.1, 1.1);
	box-shadow: 0 0 10px #555;
	transition-duration: 1.5s;
}

@media (max-width:1440px) {
	.info {
		margin-bottom: 95px;
	}

	.info__title {
		margin-bottom: 42px;
	}

	.list-two {
		padding-top: 70px;
	}

	.list-one__item-text {
		bottom: 35px;
	}

	.list-three__item-text {
		bottom: 35px;
		left: 40px;
	}

	.list-one__item-text,
	.list-two__item-text,
	.list-three__item-text {
		max-width: 300px;
	}

	.list-two__item-text_audio {
		white-space: pre-line;
	}
}

@media (max-width:1228.80px) {
	.info__title_pre-line {
		font-size: 30px;
		line-height: 40px;
	}

	.info__title {
		margin-bottom: 36px;
	}

	.info {
		margin-bottom: 70px;
	}

	.list-one__item-img,
	.list-two__item-img,
	.list-three__item-img {
		min-width: 287px;
		min-height: 172px;
	}

	.list-one__item_vr-glasses {
		background-image: url("../../images/vr-glasses1024.png");
	}

	.list-one__item_table-games {
		background-image: url("../../images/table_games1024.png");
	}

	.list-two__item_audio {
		background-image: url("../../images/audio1024.png");
	}

	.list-two__item_cinema {
		background-image: url("../../images/cinema1024.png");
	}

	.list-three__item_karaoke {
		background-image: url("../../images/karaoke1024.png");
	}

	.list-three__item_play-station {
		background-image: url("../../images/play_station1024.png");
	}
}

@media (max-width:1024px) {
	.info {
		margin-bottom: 65px;
	}

	.info__title {
		padding-left: 85px;
		padding-right: 90px;
		margin-bottom: 35px;
	}

	.info__title_pre-line {
		line-height: 42px;
		letter-spacing: -0.2px;
	}

	.list-one__item_vr-glasses,
	.list-two__item_audio,
	.list-three__item_karaoke {
		margin-bottom: 29px;
	}

	.list-two {
		padding-top: 55px;
	}

	.list-one__item-text,
	.list-two__item-text,
	.list-three__item-text {
		max-width: 260px;
	}

	.list-one__item-text {
		left: 20px;
		bottom: 30px;
	}

	.list-two__item-text_bottom {
		left: 20px;
	}

	.list-two__item-text_audio {
		left: 22px;
	}

	.list-two__item-text_cinema {
		bottom: 9px;
		white-space: pre-line;
	}

	.list-three__item-text {
		left: 20px;
		bottom: 31px;
	}
}

@media (max-width:877.71px) {
	.info__title {
		padding-left: 60px;
		padding-right: 60px;
	}

	.info__title_pre-line {
		margin-bottom: 30px;
	}

	.list-two {
		padding-top: 0;
	}

	.list-one,
	.list-two,
	.list-three {
		display: block;
	}

	.info-list {
		display: none;
	}

	.info-list__mob {
		display: block;
	}

	.info-list__mob {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 3fr;
		grid-template-areas:
			"vr-glasses audio"
			"karaoke table-games"
			"cinema play-station";
		column-gap: 80px;
		justify-items: center;
	}

	.list-one__item-img,
	.list-two__item-img,
	.list-three__item-img {
		min-width: 334px;
		min-height: 200px;
	}

	.list-one__item_vr-glasses {
		grid-area: vr-glasses;
		background-image: url("../../images/vr-glasses768.png");
	}

	.list-two__item_audio {
		grid-area: audio;
		background-image: url("../../images/audio768.png");
	}

	.list-three__item_karaoke {
		grid-area: karaoke;
		background-image: url("../../images/karaoke768.png");
	}

	.list-one__item_table-games {
		grid-area: table-games;
		background-image: url("../../images/table_games768.png");
		max-height: 200px;
	}

	.list-two__item_cinema {
		grid-area: cinema;
		background-image: url("../../images/cinema768.png");
	}

	.list-three__item_play-station {
		grid-area: play-station;
		background-image: url("../../images/play_station768.png");
	}
}

@media (max-width:768px) {
	.info {
		margin-bottom: 60px;
	}

	.info__title {
		padding-left: 57px;
		padding-right: 59px;
		margin-bottom: 29px;
	}

	.info__title_pre-line {
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 0;
	}

	.info-list__mob {
		column-gap: 20px;
		row-gap: 20px;
	}

	.list-one__item_vr-glasses,
	.list-two__item_audio,
	.list-three__item_karaoke {
		margin-bottom: 0;
	}

	.list-one__item-text,
	.list-three__item-text {
		left: 30px;
		bottom: 40px;
	}

	.list-two__item-text_bottom {
		left: 30px;
		bottom: 11px;
	}

	.list-two__item-text_cinema {
		white-space: normal;
		max-width: 280px;
	}
}