.main-titles__title {
	font-style: normal;
	font-weight: 900;
	font-size: 150px;
	line-height: 100%;
	letter-spacing: -0.1em;
	text-transform: uppercase;
}

.main-titles__subtitle {
	padding-left: 100px;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 50px;
}