.order-block {
	padding: 80px 2400px;
	background-color: var(--color-three, #440F51);
}

.order-block__main-title {
	margin-bottom: 45px;
}

.order-block__title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 38px;
}

.order-hall {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.order-hall__items:not(:last-child) {
	margin-right: 60px;
}

.order-hall__items input[type="radio"] {
	width: 250px;
	height: 55px;
	border-radius: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--color-two, #FFFFFF);
}

.order-hall__items input[type="radio"]:hover {
	background: #EADEED;
	border: 3px solid #640AA3;
	border-radius: 8px;
	transition-duration: 1s;
}

.order-hall__items input[type="radio"]:focus {
	background: var(--color-two, #FFFFFF);
	border: 3px solid #640AA3;
	border-radius: 8px;
	transition-duration: 1s;
}

.order-hall__items input[type="radio"]:active {
	background: var(--color-one, #6C0287);
	border: 3px solid var(--color-two, #FFFFFF);
	border-radius: 8px;
	transition-duration: 1s;
}

.order-hall__items {
	position: relative;
}

.order-hall__items label {
	display: inline-block;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	position: absolute;
	top: 7px;
	left: 10px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 30px;
	color: #000000;
}

.order-hall__items_ns-hall label {
	padding-left: 20px;
}

.order-services {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	padding-left: 100px;
	padding-right: 100px;
}

.order-services__consoles-title,
.order-services__tgames-title,
.order-services__extra-title {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 24px;
}

.order-services__consoles-text,
.order-services__tgames-text,
.order-services__extra-text {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 25px;
}

.order-services__consoles-text:not(:last-child) {
	margin-bottom: 22px;
}

.order-services__tgames-text:not(:last-child) {
	margin-bottom: 20px;
}

.order-services__extra-text:not(:last-child) {
	margin-bottom: 24px;
}

.order-cart {
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 40px;
}

.order-details {
	padding-top: 16px;
}

.order-details__dt {
	max-width: 300px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

.order-details__dt-date,
.order-details__dt-time {
	min-width: 134px;
	min-height: 52px;
	padding-top: 12px;
	padding-right: 22px;
	padding-bottom: 12px;
	padding-left: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.order-details__dt-date {
	margin-right: 32px;
}

.order-details__count {
	min-width: 300px;
	min-height: 52px;
	padding-top: 12px;
	padding-right: 86px;
	padding-bottom: 12px;
	padding-left: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px
}

.order-details,
.order-client {
	margin-right: 50px;
}

.order-client__data-text,
.order-contacts__phone-text {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--color-two, #FFFFFF);
	margin-bottom: 6px;
}

.order-client__data:not(:last-child),
.order-contacts__phone {
	margin-bottom: 14px;
}

.order-client__data-name,
.order-contacts__phone-input,
.order-contacts__email-input {
	min-width: 300px;
	min-height: 52px;
}

.order-client__data-name:focus,
.order-contacts__phone-input:focus,
.order-contacts__email-input:focus {
	background: var(--color-two, #FFFFFF);
	border: 2px solid var(--color-four, #CD06FF);
	outline: 0;
	transition-duration: 1s;
}

.order-block__action {
	padding-left: 875px;
}

.order-block__action-btn {
	border-radius: 10px;
	padding: 16px 50px;
	border: none;
	box-shadow: 0 0 10px whitesmoke;
}

.order-block__action-text {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;
	color: var(--color-one, #6C0287);
}

.order-services__consoles-text input[type="radio"]:focus {
	outline: 1px solid var(--color-four, #CD06FF);
	transition-duration: 2s;
}

.order-services__tgames-text input[type="checkbox"]:focus,
.order-services__extra-text input[type="checkbox"]:focus {
	background: var(--color-two, #FFFFFF);
	outline: 1px solid var(--color-four, #CD06FF);
	transition-duration: 1.5s;
}

.order-block__action-btn:hover {
	background: #EADEED;
	border: 3px solid var(--color-one, #6C0287);
	border-radius: 10px;
	transition-duration: 1.5s;
}

.order-block__action-btn:focus {
	background: var(--color-two, #FFFFFF);
	outline: 3px solid var(--color-one, #6C0287);
	border-radius: 10px;
	transition-duration: 1.5s;
}

.order-block__action-btn:active {
	background: #EADEED;
	border-radius: 10px;
	transition-duration: 1.5s;
}

@media (max-width:4608px) {
	.order-block {
		padding: 80px 1650px;
	}

	.order-block__action {
		padding-left: 855px;
	}
}

@media (max-width:3072px) {
	.order-block {
		padding: 80px 900px;
	}

	.order-block__action {
		padding-left: 840px;
	}
}

@media (max-width:2304px) {
	.order-block {
		padding: 80px 550px;
	}

	.order-block__action {
		padding-left: 800px;
	}
}

@media (max-width:2048px) {
	.order-block {
		padding: 80px 400px;
	}

	.order-block__action {
		padding-left: 825px;
	}
}

@media (max-width:1920px) {
	.order-block {
		padding: 80px 330px;
	}

	.order-block__action {
		padding-left: 840px;
	}
}

@media (max-width:1706.67px) {
	.order-block {
		padding: 80px 220px;
	}

	.order-block__action {
		padding-left: 845px;
	}
}

@media (max-width:1536px) {
	.order-block {
		padding: 80px 140px;
	}

	.order-block__action {
		padding-left: 838px;
	}
}

@media (max-width:1440px) {
	.order-block {
		padding: 82px 130px 80px 125px;
	}

	.order-block__title {
		margin-bottom: 41px;
	}

	.order-hall {
		margin-bottom: 56px;
	}

	.order-hall__items label {
		left: 9px;
	}

	.order-services {
		padding-left: 102px;
		padding-right: 115px;
		margin-bottom: 62px;
	}

	.scale {
		transform: scale(2.2);
		opacity: 0.9;
		cursor: pointer;
		margin-right: 13px;
	}

	.order-block__title_order {
		margin-bottom: 38px;
	}

	.order-cart {
		padding-right: 105px;
		justify-content: flex-start;
	}

	.order-details,
	.order-contacts {
		min-width: 300px;
	}

	.order-client {
		min-width: 0;
		max-width: 280px;
	}

	.order-details {
		padding-top: 17px;
	}

	.order-details__dt-date,
	.order-details__dt-time,
	.order-details__count {
		padding-top: 18px;
		padding-left: 16px;
	}

	.order-client__data-name {
		min-width: 0;
		width: 280px;
	}

	.order-client__data:not(:last-child),
	.order-contacts__phone {
		margin-bottom: 18px;
	}

	.order-block__action {
		padding-left: 780px;
	}
}

@media (max-width:1396.36px) {
	.order-block {
		padding: 78px 90px 80px 90px;
	}

	.order-cart {
		padding-right: 120px;
	}
}

@media (max-width:1228.80px) {
	.order-block {
		padding: 60px 90px 60px 90px;
	}

	.order-block__main-title {
		margin-bottom: 26px;
	}

	.order-block__title {
		margin-bottom: 26px;
	}

	.order-services {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 60px;
	}

	.order-hall__items input[type="radio"] {
		width: 180px;
		height: 44px;
		border-radius: 6px;
	}

	.order-hall__items label {
		font-size: 20px;
		line-height: 24px;
		top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 20px;
	}

	.order-hall {
		margin-bottom: 60px;
	}

	.order-cart {
		justify-content: space-between;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 50px;
	}

	.order-details__dt-date,
	.order-details__dt-time,
	.order-details__count {
		padding-top: 12px;
		padding-left: 20px;
	}

	.order-client__data-name {
		width: 0;
	}

	.order-details,
	.order-contacts {
		min-width: 254px;
	}

	.order-client__data-name,
	.order-contacts__phone-input,
	.order-contacts__email-input {
		min-width: 259px;
	}

	.order-client__data:not(:last-child),
	.order-contacts__phone {
		margin-bottom: 14px;
	}

	.order-block__action {
		padding-left: 775px;
	}

	.order-block__action-text {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (max-width:1024px) {
	.order-block {
		padding: 60px;
	}

	.order-block__main-title {
		padding-left: 65px;
		padding-right: 65px;
		margin-bottom: 40px;
	}

	.order-block__title {
		margin-bottom: 28px;
	}

	.order-hall {
		margin-bottom: 55px;
	}

	.order-hall__items_vibes-hall label {
		padding-left: 28px;
	}

	.order-hall__items_sw-hall label {
		padding-left: 22px;
	}

	.order-hall__items_ww-hall label {
		padding-left: 23px;
	}

	.order-hall__items_ns-hall label {
		padding-left: 16px;
	}

	.order-services {
		gap: 30px;
		padding-left: 2px;
		padding-right: 63px;
	}

	.order-services__tgames {
		padding-left: 6px;
	}

	.order-services__extra {
		padding-left: 10px;
	}

	.scale {
		margin-right: 17px;
	}

	.order-details__dt-date,
	.order-details__dt-time,
	.order-details__count {
		padding-top: 13px;
		padding-left: 17px;
	}

	.order-client__data-name,
	.order-contacts__phone-input,
	.order-contacts__email-input {
		min-width: 251px;
	}

	.order-block__action {
		padding-left: 650px;
	}

	.order-block__action-btn {
		padding: 15px 45px;
	}
}