.overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(27, 26, 27, 0.7);
	z-index: 20;
	transition: .3s all;
}

.active {
	opacity: 1;
	visibility: visible;
}