.reviews {
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 100px;
}

.user-review {
	display: flex;
	align-items: center;
}

.user-review:not(:last-child) {
	margin-bottom: 50px;
}

.user-review__photo {
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 280px;
	min-height: 280px;
	position: relative;
}

.user-review__photo_one {
	background-image: url("../../images/review1.png");
	margin-bottom: 7px;
}

.user-review__photo_two {
	background-image: url("../../images/review2.png");
	margin-bottom: 9px;
}

.user-review__photo_three {
	background-image: url("../../images/review3.png");
	margin-bottom: 10px;
}

.user-review__gradient {
	content: "";
	background-image: url("../../images/review_gradient.svg");
	background-repeat: no-repeat;
	min-width: 280px;
	min-height: 280px;
	position: absolute;
}

.user-review__author {
	position: relative;
	margin-right: 20px;
}

.user-review__name {
	text-align: center;
}

.user-review__text,
.user-review__name {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

.user-review__text {
	max-width: 680px;
	padding-top: 52px;
	padding-bottom: 179px;
}

@media (max-width:1440px) {
	.reviews__title {
		margin-bottom: 47px;
	}

	.user-review__photo_two {
		margin-bottom: 12px;
	}

	.user-review__text_pt {
		padding-top: 20px;
	}
}

@media (max-width:1228.80px) {
	.reviews {
		margin-bottom: 70px;
	}

	.reviews__title {
		margin-bottom: 26px;
	}

	.user-review__photo {
		min-width: 199px;
		min-height: 199px;
		margin-bottom: 21px;
	}

	.user-review__photo_one {
		background-image: url("../../images/review1-1024.png");
	}

	.user-review__photo_two {
		background-image: url("../../images/review2-1024.png");
	}

	.user-review__photo_three {
		background-image: url("../../images/review3-1024.png");
	}

	.user-review__text,
	.user-review__name {
		font-size: 18px;
		line-height: 26px;
	}

	.user-review__text {
		max-width: 515px;
		padding-top: 33px;
	}

	.user-review__gradient {
		background-image: url("../../images/review_gradient1024.svg");
		min-width: 199px;
		min-height: 199px;
		background-size: contain;
	}

	.user-review:not(:last-child) {
		margin-bottom: 0;
	}
}

@media (max-width:1024px) {
	.reviews {
		padding-left: 100px;
		padding-right: 80px;
		margin-bottom: 28px;
	}

	.user-review {
		align-items: normal;
		max-height: 260px;
	}

	.user-review__photo {
		min-width: 172px;
		min-height: 172px;
		margin-bottom: 21px;
	}

	.user-review__gradient {
		min-width: 172px;
		min-height: 172px;
	}

	.user-review__author {
		margin-right: 38px;
	}
}

@media (max-width:877.71px) {
	.user-review__photo {
		margin-bottom: 17px;
	}

	.user-review__text,
	.user-review__name {
		font-size: 16px;
		line-height: 26px;
	}
}

@media (max-width:768px) {
	.reviews {
		margin-bottom: 25px;
	}

	.reviews__title {
		margin-bottom: 30px;
	}

	.user-review {
		max-height: 220px;
	}

	.user-review__photo {
		min-width: 153px;
		min-height: 153px;
	}

	.user-review__gradient {
		min-width: 153px;
		min-height: 153px;
	}

	.reviews {
		padding-left: 62px;
	}

	.user-review__author {
		margin-right: 16px;
	}

	.user-review__name {
		font-size: 14px;
		line-height: 20px;
	}

	.user-review__text {
		line-height: 22px;
	}
}