.reviews {
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 100px;
}

.user-review {
	display: flex;
	align-items: center;
}

.user-review:not(:last-child) {
	margin-bottom: 50px;
}

.user-review__photo {
	margin-bottom: 11px;
}

.user-review__author {
	position: relative;
	margin-right: 20px;
}

.user-review__name {
	text-align: center;
}

.user-review__text,
.user-review__name {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

.user-review__text {
	max-width: 680px;
	padding-top: 52px;
	padding-bottom: 179px;
}

.user-review__photo_gradient {
	position: absolute;
	opacity: 0.9;
	bottom: 28px;
}