.titles {
	width: 100%;
	height: auto;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width:1228.80px) {
	.titles {
		font-size: 30px;
		line-height: 40px;
	}
}

@media (max-width:877.71px) {
	.titles {
		font-size: 24px;
		line-height: 36px;
	}
}