.top-block {
	max-height: 823px;
	margin-bottom: 100px;
	position: relative;
}

.headline {
	margin-bottom: 30px;
}

.headline__main-title {
	font-style: normal;
	font-weight: 900;
	font-size: 150px;
	line-height: 100%;
	letter-spacing: -0.1em;
}

.headline__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 50px;
	padding-left: 100px;
}

.benefits {
	max-width: 397px;
	max-height: 209px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 150px;
}

.benefits__one {
	margin-right: 43px;
	max-width: 193px;
}

.benefit__two {
	padding-top: 35px;
	max-height: 174px;
}

.benefit__one_color {
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 141px;
	color: var(--color-four, #CD06FF);
	text-align: center;
}

.benefit__two_color {
	font-style: normal;
	font-weight: 900;
	font-size: 75px;
	line-height: 106px;
	color: var(--color-four, #CD06FF);
	font-variant: small-caps;
}

.benefits__one-text,
.benefits__two-text {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
}

.top-action__btn {
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--color-two, #FFFFFF);
	background: var(--color-one, #6C0287);
	border-radius: 10px;
	padding: 25px 69px;
}

.top-img {
	content: "";
	background-image: url("../../images/pic1.png");
	background-repeat: no-repeat;
	max-width: 675px;
	min-height: 762px;
	position: relative;
	left: 505px;
	bottom: 615px;
}

.top-action__down {
	position: absolute;
	left: 560px;
	bottom: 110px;
}

.top-action__down-btn {
	min-width: 97px;
	min-height: 97px;
	border-radius: 50%;
	border: 1px solid var(--color-two, #FFFFFF);
	background-color: rgba(28, 28, 28, 0);
	color: var(--color-two, #FFFFFF);
}

.top-action__down-btn:hover {
	background: var(--color-two, #FFFFFF);
	border: 1px solid var(--color-two, #FFFFFF);
	color: var(--color-one, #6C0287);
	background-image: url("../../images/btn_down_hover.png");
	background-repeat: no-repeat;
	background-position: center;
	transition-duration: 1.5s;
}

.top-action__down-btn:focus {
	border: 1px solid var(--color-two, #FFFFFF);
	transition-duration: 1.5s;
}

.top-action__down-btn:active {
	background: var(--color-four, #CD06FF);
	border: 1px solid var(--color-four, #CD06FF);
	transition-duration: 1.5s;
}

.top-action__btn:hover {
	background: #840AA3;
	border-radius: 10px;
	transition-duration: 1.5s;
}

.top-action__btn:focus {
	background: #840AA3;
	border-radius: 10px;
	transition-duration: 1.5s;
}

.top-action__btn:active {
	background: #640AA3;
	border-radius: 10px;
	transition-duration: 1.5s;
}

@media (max-width:1440px) {
	.benefit__two {
		padding-top: 42px;
	}

	.benefit__two_color {
		font-size: 64px;
		line-height: 100px;
	}

	.top-action__down {
		left: 540px;
		bottom: 90px;
	}
}

@media (max-width:1228.80px) {
	.top-block {
		max-height: 552px;
	}

	.headline__main-title {
		font-size: 120px;
	}

	.headline__subtitle {
		font-size: 22px;
	}

	.benefit__one_color {
		font-size: 80px;
		line-height: 113px;
	}

	.benefits__one-text,
	.benefits__two-text {
		font-size: 26px;
		line-height: 30px;
	}

	.benefit__two_color {
		font-size: 60px;
		line-height: 85px;
	}

	.benefit__two {
		padding-top: 23px;
	}

	.benefits {
		max-width: 360px;
		margin-bottom: 80px;
	}

	.top-img {
		background-image: url("../../images/pic1-1024.png");
		max-width: 470px;
		min-height: 520px;
		left: 450px;
		bottom: 455px;
	}

	.top-action__down-btn {
		min-width: 67px;
		min-height: 67px;
	}

	.top-action__down {
		left: 415px;
		bottom: 30px;
	}

	.top-action {
		padding-left: 33px;
	}

	.top-action__btn {
		font-size: 22px;
		padding: 17px 48px;
	}
}

@media (max-width:1024px) {
	.top-block {
		max-height: 585px;
		margin-bottom: 80px;
	}

	.headline__main-title {
		font-size: 125px;
		letter-spacing: -1rem;
		margin-bottom: 7px;
	}

	.headline__subtitle {
		font-size: 20px;
		line-height: 52px;
		padding-left: 100px;
		letter-spacing: 1px;
	}

	.headline {
		margin-bottom: 15px;
	}

	.benefit__two {
		padding-top: 35px;
		font-size: 45px;
		letter-spacing: 5.5px;
	}

	.benefits__one {
		margin-right: 30px;
	}

	.benefit__one_color {
		padding-top: 3px;
	}

	.benefit__two_color {
		padding-left: 18px;
	}

	.top-img {
		max-width: 475px;
		max-height: 520px;
		left: 449px;
		bottom: 455px;
	}

	.top-action__down {
		left: 418px;
		bottom: 48px;
	}

	.top-action {
		padding-left: 37px;
	}

	.top-action__btn {
		font-size: 21px;
		padding: 13px 49px;
		letter-spacing: 0.6px;
	}
}

@media (max-width:877.71px) {
	.top-block {
		max-height: 539px;
	}

	.headline {
		margin-bottom: 50px;
	}

	.headline__main-title {
		font-size: 86px;
		letter-spacing: 0.1rem;
		margin-bottom: 20px;
	}

	.headline__subtitle {
		font-size: 18px;
		line-height: 24px;
	}

	.benefits {
		max-width: 214px;
		margin-bottom: 100px;
	}

	.benefit__one_color {
		font-size: 50px;
		line-height: 71px;
	}

	.benefit__two {
		padding-top: 17px;
	}

	.benefit__two_color {
		font-size: 40px;
		line-height: 56px;
	}

	.benefits__one-text,
	.benefits__two-text {
		font-size: 16px;
		line-height: 18px;
	}

	.top-img {
		background-image: url("../../images/pic1-768.png");
		max-width: 409px;
		min-height: 479px;
		left: 360px;
		bottom: 380px;
	}

	.top-action {
		padding-left: 0;
	}

	.top-action__btn {
		font-size: 16px;
		line-height: 24px;
		padding: 11px 35px 11px 34px;
	}

	.top-action__down {
		display: none;
	}
}


@media (max-width:768px) {
	.headline__main-title {
		letter-spacing: -8px;
	}

	.headline__subtitle {
		padding-left: 70px;
		letter-spacing: 0;
	}

	.top-img {
		left: 280px;
		bottom: 377px;
	}

	.benefit__two {
		padding-top: 19px;
		letter-spacing: 4.1px;
	}

	.benefit__two_color {
		font-size: 30px;
		padding-left: 0;
	}

	.top-action__btn {
		padding: 8px 35px 11px 34px;
		letter-spacing: 0;
	}
}

@media (max-width:614.40px) {
	.top-block {
		max-height: 200px;
		margin-bottom: 48px;
	}

	.headline__main-title {
		font-size: 35px;
		line-height: 100%;
		letter-spacing: -3px;
		margin-bottom: 0;
	}

	.headline {
		margin-bottom: 6px;
	}

	.top-img {
		background-image: url("../../images/pic1-320.svg");
		max-width: 161px;
		min-height: 179px;
		left: 118px;
		bottom: 158px;
	}

	.headline__subtitle {
		font-size: 10px;
		line-height: 14px;
		padding-left: 20px;
	}

	.benefits {
		max-width: 139px;
		margin-bottom: 30px;
	}

	.benefits__one {
		margin-right: 20px;
		max-width: 65px;
	}

	.benefit__one_color {
		font-size: 26px;
		line-height: 37px;
	}

	.benefits__one-text,
	.benefits__two-text {
		font-size: 10px;
		line-height: 11px;
	}

	.benefit__two {
		padding-top: 12px;
		letter-spacing: 1.9px;
	}

	.benefit__two_color {
		padding-left: 5px;
		border-radius: 4px;
		font-size: 16px;
		line-height: 28px;
	}

	.top-action__btn {
		padding: 6px 13px 7px 12px;
		font-size: 10px;
		line-height: 12px;
		border-radius: 4px;
		border: none;
	}
}

@media (max-width:320px) {
	.top-img {
		bottom: 155px;
	}

	.top-action__btn {
		padding: 8px 13px 7px 12px;
	}
}

@media (max-width:307.20px) {
	.top-block {
		max-width: 280px;
	}
}