	.wrapper {
		padding-left: 2400px;
		padding-right: 2400px;
	}

	@media (max-width:4608px) {
		.wrapper {
			padding-left: 1650px;
			padding-right: 1650px;
		}
	}

	@media (max-width:3072px) {
		.wrapper {
			padding-left: 900px;
			padding-right: 900px;
		}
	}

	@media (max-width:2304px) {
		.wrapper {
			padding-left: 520px;
			padding-right: 520px;
		}
	}

	@media (max-width:2048px) {
		.wrapper {
			padding-left: 400px;
			padding-right: 400px;
		}
	}

	@media (max-width:1920px) {
		.wrapper {
			padding-left: 330px;
			padding-right: 330px;
		}
	}

	@media (max-width:1706.67px) {
		.wrapper {
			padding-left: 220px;
			padding-right: 220px;
		}
	}

	@media (max-width:1536px) {
		.wrapper {
			padding-left: 140px;
			padding-right: 140px;
		}
	}

	@media (max-width:1440px) {
		.wrapper {
			padding-left: 125px;
			padding-right: 130px;
		}
	}

	@media (max-width:1396.36px) {
		.wrapper {
			padding-left: 90px;
			padding-right: 90px;
		}
	}

	@media (max-width:1024px) {
		.wrapper {
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	@media (max-width:877.71px) {
		.wrapper {
			padding-left: 40px;
			padding-right: 40px;
		}
	}

	@media (max-width:614.40px) {
		.wrapper {
			padding-left: 167px;
			padding-right: 167px;
		}
	}

	@media (max-width:512px) {
		.wrapper {
			padding-left: 100px;
			padding-right: 100px;
		}
	}

	@media (max-width:384px) {
		.wrapper {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	@media (max-width:320px) {
		.wrapper {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media (max-width:307.20px) {
		.wrapper {
			padding-left: 10px;
			padding-right: 10px;
		}
	}