.banner-container {
	padding-left: 2400px;
	padding-right: 2400px;
	margin-bottom: 100px;
}

.banner {
	max-width: 1440px;
	min-height: 750px;
}

.banner__picture {
	max-width: 1440px;
	min-height: 750px;
	position: relative;
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
}

.banner__picture_vibes {
	background-image: url("../images_halls/vibes1440.png");
}

.banner__picture_star-wars {
	background-image: url("../images_halls/star_wars1440.png");
}

.banner__picture_wild-west {
	background-image: url("../images_halls/wild_west1440.png");
}

.banner__picture_neon-style {
	background-image: url("../images_halls/neon_style1440.png");
}

.banner__title {
	position: absolute;
	top: 290px;
	left: 420px;
}

.banner__title-text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -6px;
}

@media (max-width:4608px) {
	.banner-container {
		padding-left: 1650px;
		padding-right: 1650px;
	}
}

@media (max-width:3072px) {
	.banner-container {
		padding-left: 900px;
		padding-right: 900px;
	}
}

@media (max-width:2304px) {
	.banner-container {
		padding-left: 520px;
		padding-right: 520px;
	}
}

@media (max-width:2048px) {
	.banner-container {
		padding-left: 400px;
		padding-right: 400px;
	}
}

@media (max-width:1920px) {
	.banner-container {
		padding-left: 330px;
		padding-right: 330px;
	}
}

@media (max-width:1706.67px) {
	.banner-container {
		padding-left: 220px;
		padding-right: 220px;
	}
}

@media (max-width:1536px) {
	.banner-container {
		padding-left: 140px;
		padding-right: 140px;
	}
}

@media (max-width:1440px) {
	.banner-container {
		padding-left: 0;
		padding-right: 0;
	}

	.banner__title {
		top: 338px;
	}

	.banner__title_vibes {
		left: 475px;
	}

	.banner__title_wild-west {
		left: 460px;
	}

	.banner__title_star-wars {
		left: 450px;
	}

	.banner__title_neon-style {
		left: 428px;
	}

	.banner__title-text {
		letter-spacing: normal;
	}
}

@media (max-width:1228.80px) {
	.banner__title_wild-west {
		top: 275px;
		left: 410px;
	}

	.banner__title_star-wars {
		top: 300px;
		left: 330px;
	}

	.banner__title_vibes {
		top: 270px;
		left: 400px;
	}

	.banner__title_neon-style {
		top: 280px;
		left: 350px;
	}
}

@media (max-width:1024px) {
	.banner-container {
		margin-bottom: 70px;
	}

	.banner {
		min-height: 534px;
	}

	.banner__picture {
		min-height: 534px;
	}

	.banner__title_vibes {
		top: 225px;
		left: 270px;
	}

	.banner__title_wild-west {
		top: 220px;
		left: 330px;
	}

	.banner__title_star-wars {
		top: 220px;
		left: 200px;
	}

	.banner__title_neon-style {
		top: 230px;
		left: 250px;
	}
}

@media (max-width:877.71px) {
	.banner {
		min-height: 450px;
	}

	.banner__picture {
		min-height: 450px;
	}

	.banner__title-text {
		font-size: 60px;
		line-height: 120%;
	}

	.banner__title_vibes {
		top: 200px;
	}

	.banner__title_star-wars {
		top: 210px;
		left: 230px;
	}

	.banner__title_wild-west {
		top: 190px;
		left: 290px;
	}

	.banner__title_neon-style {
		top: 190px;
	}
}

@media (max-width:768px) {
	.banner-container {
		margin-bottom: 60px;
	}

	.banner {
		min-height: 402px;
	}

	.banner__picture {
		min-height: 402px;
	}

	.banner__title_wild-west {
		top: 160px;
		left: 240px;
	}

	.banner__title_vibes {
		top: 165px;
		left: 225px;
	}

	.banner__title_star-wars {
		top: 180px;
		left: 170px;
	}

	.banner__title_neon-style {
		top: 170px;
		left: 210px;
	}
}

@media (max-width:614.40px) {
	.banner-container {
		margin-bottom: 30px;
	}

	.banner__title-text {
		font-size: 40px;
	}

	.banner {
		min-height: 310px;
	}

	.banner__picture {
		min-height: 310px;
		background-size: cover;
	}

	.banner__title_neon-style {
		top: 140px;
		left: 170px;
	}

	.banner__title_vibes,
	.banner__title_wild-west {
		top: 140px;
		left: 200px;
	}

	.banner__title_star-wars {
		top: 140px;
		left: 180px;
	}
}

@media (max-width:512px) {
	.banner {
		min-height: 260px;
	}

	.banner__title-text {
		font-size: 30px;
	}

	.banner__picture {
		min-height: 260px;
	}

	.banner__title_star-wars {
		top: 120px;
		left: 160px;
	}

	.banner__title_wild-west,
	.banner__title_vibes {
		top: 115px;
		left: 170px;
	}

	.banner__title_neon-style {
		top: 115px;
		left: 145px;
	}
}

@media (max-width:384px) {
	.banner {
		min-height: 190px;
	}

	.banner__picture {
		min-height: 190px;
	}

	.banner__title_wild-west,
	.banner__title_vibes {
		top: 80px;
		left: 120px;
	}

	.banner__title_neon-style {
		top: 85px;
		left: 100px;
	}

	.banner__title_star-wars {
		top: 90px;
		left: 90px;
	}
}

@media (max-width:320px) {
	.banner {
		min-height: 161px;
	}

	.banner__picture {
		min-height: 161px;
	}

	.banner__title_vibes {
		top: 58px;
		left: 79px;
	}

	.banner__title_wild-west {
		top: 65px;
		left: 100px;
	}

	.banner__title_star-wars {
		top: 70px;
		left: 40px;
	}

	.banner__title_neon-style {
		top: 70px;
		left: 70px;
	}
}

@media (max-width:307.20px) {
	.banner__title_neon-style {
		left: 55px;
	}
}