.banner-container {
	padding-left: 2400px;
	padding-right: 2400px;
	margin-bottom: 100px;
}

.banner {
	max-width: 1440px;
	min-height: 750px;
}

.banner__picture {
	max-width: 1440px;
	min-height: 750px;
	position: relative;
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
}

.banner__picture_vibes {
	background-image: url("../images_halls/vibes1440.png");
}

.banner__picture_star-wars {
	background-image: url("../images_halls/star_wars1440.png");
}

.banner__picture_wild-west {
	background-image: url("../images_halls/wild_west1440.png");
}

.banner__picture_neon-style {
	background-image: url("../images_halls/neon_style1440.png");
}

.banner__title {
	position: absolute;
	top: 290px;
	left: 420px;
}

.banner__title-text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -6px;
}

@media (max-width:4608px) {
	.banner-container {
		padding-left: 1650px;
		padding-right: 1650px;
	}
}

@media (max-width:3072px) {
	.banner-container {
		padding-left: 900px;
		padding-right: 900px;
	}
}

@media (max-width:2304px) {
	.banner-container {
		padding-left: 520px;
		padding-right: 520px;
	}
}

@media (max-width:2048px) {
	.banner-container {
		padding-left: 400px;
		padding-right: 400px;
	}
}

@media (max-width:1920px) {
	.banner-container {
		padding-left: 330px;
		padding-right: 330px;
	}
}

@media (max-width:1706.67px) {
	.banner-container {
		padding-left: 220px;
		padding-right: 220px;
	}
}

@media (max-width:1536px) {
	.banner-container {
		padding-left: 140px;
		padding-right: 140px;
	}
}

@media (max-width:1440px) {
	.banner-container {
		padding-left: 0;
		padding-right: 0;
	}

	.banner__title {
		top: 338px;
	}

	.banner__title_vibes {
		left: 475px;
	}

	.banner__title_wild-west {
		left: 460px;
	}

	.banner__title_star-wars {
		left: 450px;
	}

	.banner__title_neon-style {
		left: 428px;
	}

	.banner__title-text {
		letter-spacing: normal;
	}
}