.description {
	padding-left: 90px;
	padding-right: 90px;
	margin-bottom: 100px;
}

.description__text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	text-align: center;
}

@media (max-width:1396.36px) {
	.description {
		padding-left: 70px;
		padding-right: 70px;
		margin-bottom: 70px;
	}

	.description__text {
		font-size: 20px;
	}
}

@media (max-width:1024px) {
	.description {
		padding-left: 70px;
		padding-right: 70px;
		margin-bottom: 70px;
	}

	.description__text {
		font-size: 20px;
	}
}

@media (max-width:877.71px) {
	.description {
		padding-left: 30px;
		padding-right: 30px;
	}

	.description__text {
		font-size: 16px;
	}
}

@media (max-width:768px) {
	.description {
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 60px;
	}
}

@media (max-width:614.40px) {
	.description {
		margin-bottom: 30px;
	}
}


@media (max-width:307.20px) {
	.description {
		max-width: 280px;
	}
}