.orther-rooms {
	margin-bottom: 100px;
}

.other-rooms__title {
	margin-bottom: 40px;
}

.other-rooms__items {
	display: flex;
	gap: 70px;
}

.other-rooms__item {
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 380px;
	min-height: 229px;
	position: relative;
}

.other-rooms__item_wild-west {
	background-image: url("../images_halls/ww1440.png");
}

.other-rooms__item_star-wars {
	background-image: url("../images_halls/sw1440.png");
}

.other-rooms__item_neon-style {
	background-image: url("../images_halls/ns1440.png");
}

.other-rooms__item_vibes {
	background-image: url("../images_halls/vi1440.png");
}

.other-rooms__item-text {
	position: absolute;
	top: 100px;
	left: 100px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width:4608px) {
	.other-rooms__items {
		gap: 60px;
	}
}

@media (max-width:3072px) {
	.other-rooms__items {
		gap: 50px;
	}
}

@media (max-width:2048px) {
	.other-rooms__items {
		gap: 40px;
	}
}

@media (max-width:1920px) {
	.other-rooms__items {
		gap: 48px;
	}
}

@media (max-width:1706.67px) {
	.other-rooms__items {
		gap: 52px;
	}
}

@media (max-width:1536px) {
	.other-rooms__items {
		gap: 50px;
	}
}

@media (max-width:1440px) {
	.other-rooms__items {
		gap: 20px;
	}

	.other-rooms__item-text {
		top: 80px;
		left: 140px;
	}

	.other-rooms__item-text_width {
		display: inline;
		max-width: 100px;
	}

	.other-rooms__item-text_position {
		top: 100px;
		left: 110px;
	}
}